</td>
</tr>
<tr>
    <td height="30" colspan="2" align="center" style="padding: 10px;">
        <a href="mailto: ychertkova@t1-consulting.com">ychertkova@t1-consulting.com</a>
    </td>
</tr>
</table>