<head>
    <title>${param.title}</title>
    <style>
        html, body { height: 100%; margin: 0;}
        table, th, td { border: 1px solid black; border-collapse: collapse;}
        th, td { padding: 5px}
        th { font-weight: 700;text-align: center; background: lightgray;}
        .no-border { border:none}
        form.mini { margin-bottom: 0px;}
        h1 { margin: 10px;}
        nav { border-bottom: 1px solid black;height: auto; min-height: 41px;}
        nav ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; }
        nav li { float: left;}
        nav li a { display: block; text-align: center; color: black; padding: 10px 10px; text-decoration: none;}
        nav li a:hover { background-color: lightgray;}
    </style>
</head>
<body>
<nav>
    <sec:authorize access="isAuthenticated()">
        <ul style="float:left">
            <li><a href="/">Home</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </sec:authorize>
    <sec:authorize access="isAuthenticated()">
        <ul style="float:right">
            <li>
                <a href="javascript: document.logoutForm.submit()">Logout</a>
                <form name="logoutForm" action="/logout" method="post" hidden="true">
                    <sec:csrfInput />
                    <input hidden type="submit" value="Logout" />
                </form>
            </li>
        </ul>
    </sec:authorize>
</nav>